
.hk_home{
    height:100vh;
    background-color: white;
    position: relative;

    
}
.hk_nav{
    display:flex;
    background-color: white;
    padding:10px;
   
}
.hk_nav_item{
    display:flex;
    align-items: center;
    justify-content: center;
    flex:1;
    text-align: center;
    
}
img{
    width:80%;
    margin:auto;
}